@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

#hud {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
  gap: 30px;
  font-family: 'Outfit', sans-serif;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 30px;
  border-radius: 16px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  pointer-events: none;
  user-select: none;
}
.hud-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hud-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.7;
}
.hud-value {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

/* Barrinhas de Vida dos Inimigos */
.enemy-hp-container {
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: #880000;
  border: 1px solid #000;
  transform: translate(-50%, -50%); /* Centraliza exato no ponto 2D */
  pointer-events: none;
  border-radius: 3px;
  overflow: hidden;
}

.enemy-hp-bar {
  height: 100%;
  background-color: #00ff00;
  width: 100%;
  transition: width 0.1s linear;
}
